<%include  partials/header%>

<div id="diff">
<h1>HOME</h1>

<li><a href="/register">SignUp!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">LogOut!</a></li>
</div>

<%include partials/footer%>
