body{
    background-color: #834c69;
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #e6f5ff;
}

li {
    list-style-type: none;
}

li:first-of-type{
    margin-top: 4em;
}

#diff{
    background-color: #3c4f65;
    padding-top: 1vh;
    padding-bottom: 3vh;
    width: 30vw;
    margin-top: 15vh;
    box-shadow: 42px 33px 14px 12px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-left: 1em;
    background-color: #3c4f65;
    color: #e6f5ff;
    font-family: 'Abel', sans-serif;
    padding-left: 1em;
    border: none;
    font-size: 1.3vw;
}

i{
    font-size: 1vw;
    padding-bottom: .5em;
}

h1{
    font-size: 250%;
}

.in{
    border-bottom: 2px solid #e6f5ff;
    width:18vw;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 18vw;
    background-color: #3c4f65;
    font-size: 1.3vw;
    color: #e6f5ff;
    border: 2px solid #e6f5ff;
    margin-top: 2em;
    padding-top: .5vh;
    padding-bottom: .5vh;
    font-family: 'Abel', sans-serif;
}

a{
    color: #C5E3E8;
}